/* centers text */
.Button {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.MuiButton-containedPrimary {
  background-color: #4ea0b3 !important;
  color: white !important;
}
